<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>

	<typeAliases>
		<typeAlias alias="User" type="com.gachon.swdm.ths.web.bean.User"></typeAlias>
		<typeAlias alias="SchoolBoard" type="com.gachon.swdm.ths.web.bean.board.SchoolBoard"></typeAlias>
		<typeAlias alias="SchoolBoardReply" type="com.gachon.swdm.ths.web.bean.board.SchoolBoardReply"></typeAlias>
		<typeAlias alias="Takes" type="com.gachon.swdm.ths.web.bean.Takes"></typeAlias>
		<typeAlias alias="Course" type="com.gachon.swdm.ths.web.bean.Course"></typeAlias>
		<typeAlias alias="Department" type="com.gachon.swdm.ths.web.bean.Department"></typeAlias>

		<typeAlias alias="ClassBoard" type="com.gachon.swdm.ths.web.bean.board.ClassBoard"></typeAlias>
		<typeAlias alias="ClassBoardReply" type="com.gachon.swdm.ths.web.bean.board.ClassBoardReply"></typeAlias>
		<typeAlias alias="Teaches" type="com.gachon.swdm.ths.web.bean.Teaches"></typeAlias>
		<typeAlias alias="ClassRoomServer" type="com.gachon.swdm.ths.web.bean.ClassRoomServer"/>
	</typeAliases>

	<mappers>
		<mapper resource="mybatis/mapper/user.xml"></mapper>
		<mapper resource="mybatis/mapper/school_board.xml"></mapper>
		<mapper resource="mybatis/mapper/school_board_reply.xml"></mapper>
		<mapper resource="mybatis/mapper/takes.xml"></mapper>
		<mapper resource="mybatis/mapper/course.xml"></mapper>
		<mapper resource="mybatis/mapper/department.xml"></mapper>

		<mapper resource="mybatis/mapper/class_board_reply.xml"></mapper>
		<mapper resource="mybatis/mapper/class_board.xml"></mapper>
		<mapper resource="mybatis/mapper/teaches.xml"></mapper>
		<mapper resource="mybatis/mapper/class_room_server.xml"></mapper>
	</mappers>

</configuration>

